@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&display=swap');

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    margin: 5% 5% 0 0;
    color: #46485a;
    font-family: 'Red Hat Text';
}

.img {
    width: 50%;
    /* height: 30em; */
    border-radius: 4px;
}

.h1h2 {
    margin: 1px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title-component {
    margin: 0 0 0 0;
    font-size: 0.8em;
    font-weight: bold;
    color: #fff;
}

.date {
    margin: 0 0 0 8px;
    font-size: 0.8em;
    font-weight: bold;
    color: #fb6087;
}

.copyright {
    margin: 0 0 0 0;
    font-size: 0.8em;
    font-weight: 600;
    color: #fb6087;

}

.span-copyright {
    font-style: italic;
    font-weight: bold;
    color: #8586a6;
}

.explanation {
    margin: 1em 0 0 0;
    text-align: justify;
    width: 80%;
    text-indent: 2em;
    font-size: 0.9em;
    line-height: 1.2em;
    color: #8586a6;
    font-weight: 500;
}